In [14]:
import datetime

today = datetime.datetime.now()

print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year, today.month, today.day))

if(today.hour > 12):
    print('현재시간 : 오후 {}시 {}분 {}초'.format(today.hour - 12, today.minute, today.second))
else:
    print('현재시간 : 오wjs {}시 {}분 {}초'.format(today.hour, today.minute, today.second))

오늘의 날짜 : 2022년 10월 13일
현재시간 : 오후 2시 54분 45초

In [21]:
import datetime as dt
today = dt.date.today()
print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day))
xMas = dt.datetime(2025, 12, 25)
time_gap = xMas - dt.datetime.now()
print('2025년 크리스마스 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

newYear = dt.datetime(2036, 1, 1)
time_gap = newYear - dt.datetime.now()
print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day))
print('2036년 새해 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

birth = dt.datetime(2023, 4, 8)
time_gap = birth - dt.datetime.now()
print('오늘은 {}년 {}월 {}일입니다'.format(today.year, today.month, today.day))
print('2023년 생일까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

오늘은 2022년 10월 13일입니다
2025년 크리스마스 까지는 1168일 8시간 남았습니다.
오늘은 2022년 10월 13일입니다
2036년 새해 까지는 4827일 8시간 남았습니다.
오늘은 2022년 10월 13일입니다
2023년 생일까지는 176일 8시간 남았습니다.

In [27]:
import datetime as dt
thousand = dt.timedelta(days = 1000)
plus1000day = dt.datetime.now() + thousand
print('오늘 날짜로부터 1000일 후 =', plus1000day)

a, b, c = map(int, input('처음으로 사귄 연도와 월, 일을 입력하시오 : ').split())
hundred = dt.timedelta(days = 100)
love = dt.datetime(a, b, c)
plus100day = love + hundred
print('100일 기념일은 :', plus100day, '입니다.')

오늘 날짜로부터 1000일 후 = 2025-07-09 15:53:10.674187
처음으로 사귄 연도와 월, 일을 입력하시오 : 2019 3 30
100일 기념일은 : 2019-07-08 00:00:00 입니다.

In [45]:
import math as m

for i in range(2, 11):
    print('4 ** {:2} = {}'.format(i, 4 ** i))
    
for i in range(0, 181, 10):
    print('{} degree = {:.3} radian'.format(i, i * (m.pi / 180)))
    
for i in range(0, 181, 10):
    print('sin( {}) = {:.2}'.format(i, m.sin(i * (m.pi / 180))))

4 **  2 = 16
4 **  3 = 64
4 **  4 = 256
4 **  5 = 1024
4 **  6 = 4096
4 **  7 = 16384
4 **  8 = 65536
4 **  9 = 262144
4 ** 10 = 1048576
0 degree = 0.0 radian
10 degree = 0.175 radian
20 degree = 0.349 radian
30 degree = 0.524 radian
40 degree = 0.698 radian
50 degree = 0.873 radian
60 degree = 1.05 radian
70 degree = 1.22 radian
80 degree = 1.4 radian
90 degree = 1.57 radian
100 degree = 1.75 radian
110 degree = 1.92 radian
120 degree = 2.09 radian
130 degree = 2.27 radian
140 degree = 2.44 radian
150 degree = 2.62 radian
160 degree = 2.79 radian
170 degree = 2.97 radian
180 degree = 3.14 radian
sin( 0) = 0.0
sin( 10) = 0.17
sin( 20) = 0.34
sin( 30) = 0.5
sin( 40) = 0.64
sin( 50) = 0.77
sin( 60) = 0.87
sin( 70) = 0.94
sin( 80) = 0.98
sin( 90) = 1.0
sin( 100) = 0.98
sin( 110) = 0.94
sin( 120) = 0.87
sin( 130) = 0.77
sin( 140) = 0.64
sin( 150) = 0.5
sin( 160) = 0.34
sin( 170) = 0.17
sin( 180) = 1.2e-16

In [49]:
import random as rd 
list = []
for i in range(3):
    list.append(rd.randrange(5, 101, 5))
print('0에서 100 이하의 정수 중에서 5의 배수')
print(list)

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rd.sample(list1, 3)
print('1에서 10사이의 임의의 정수 :', rd.sample(list1, 3))

0에서 100 이하의 정수 중에서 5의 배수
[90, 30, 40]
1에서 10사이의 임의의 정수 : [10, 8, 7]

In [51]:
import random as rd 

list = []
for i in range(1, 46):
    list.append(i)
rd.shuffle(list)
a = list[:6]
sorted(a)
print(a)

[32, 11, 4, 42, 13, 43]

In [52]:
list = [1, 2, 3, 7, 8, 9]
list.insert(3, 4)
list.insert(4, 5)
list.insert(5, 6)

list

[1, 2, 3, 4, 5, 6, 7, 8, 9]